.field {
  aspect-ratio: 1;
  width: var(--field-size);
  max-width: 100%;
  max-height: 100%;

  display: flex;
  flex-wrap: wrap;
}

.cell {
  display: block;
  aspect-ratio: 1;
  width: 33.33%;
  background-color: white;

  font-family: inherit;
  font-size: calc(var(--field-size) / 3 - 2rem);

  cursor: pointer;
}
.cell:disabled {
  background-color: white;

  cursor: not-allowed;
}
